/*{outline: 1px solid rgba(25,0,0,0.4);}*/

body{
  color:  rgb(255, 255, 255);
  text-align: center;
}
.gray{
  color: rgb(115, 111, 109);
}

.portada img{
  position: absolute;;
  height: 700px;
  z-index: -1000;
  left: 0;
  width: 100%;
  }
.menu
{
position: relative;;
}
.lista{
  display: inline-block;
}

.abajo{
  padding-top:180px;
}
.imagenes img{
  margin: 20px;
}
.box{
  height: 300px;
}
h3::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: 0 0;
    transition: width .5s ease,background-color .5s ease;
    cubic-bezier(0.4, 0, 1, 1)
    cursor: auto;
}
.underline {
  border: 2px solid transparent;
}
.nav-pills a{
  color: white;
}


}
